table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: start;
}

tr {
  height: 50px;
}

tr.selected {
  background-color: #f0f0f5;

}

tbody tr:hover {
  cursor: pointer;
  background-color: gray;
  color: white;
}

